body{
    background-color: white;
    font-family: Arial;
}
.container{
    background-color: rgb(224, 224, 224);
    padding: 20px;
    margin: 20px;
}
button{
    background-color:#dc569b;
    color: black;
    padding: 10px;
    margin: 5px;
    border: None;
}

.formulario{
    background-color: #c6c2c2;
    padding: 15px;
    margin: 10px;
}